# Docs for the Azure Web Apps Deploy action:
# https://github.com/azure/functions-action
# More GitHub Actions for Azure:
# https://github.com/Azure/actions

name: Build and deploy Node.js project to Azure Function Apps

on:
  push:
    branches:
      - master
      - backend-new
  workflow_dispatch:

env:
  AZURE_FUNCTIONAPP_PACKAGE_PATH: '.'   # Path to function app
  NODE_VERSION: '20.x'

jobs:
  build:
    runs-on: windows-latest
    permissions:
      contents: read

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node.js ${{ env.NODE_VERSION }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ env.NODE_VERSION }}

      - name: Install dependencies, build & test
        shell: pwsh
        run: |
          pushd './${{ env.AZURE_FUNCTIONAPP_PACKAGE_PATH }}'
          npm install
          npm run build --if-present
          npm run test --if-present
          popd

      - name: Upload artifact for deploy job
        uses: actions/upload-artifact@v4
        with:
          name: node-app
          path: .

  deploy:
    runs-on: windows-latest
    needs: build
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: node-app

      - name: Azure Login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_9B425934D07845E4B833882773725BD8 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_278A4E692EE040BAA22F78A288BEE3C9 }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_CD91AE8892114240977EB4808ECE6DE5 }}

      # Deploy when pushing to master
      - name: Deploy to iness-backend (master)
        if: github.ref == 'refs/heads/master'
        uses: Azure/functions-action@v1
        with:
          app-name: 'iness-backend'
          slot-name: 'Production'
          package: ${{ env.AZURE_FUNCTIONAPP_PACKAGE_PATH }}

      # Deploy when pushing to backend-new
      - name: Deploy to iness-backend-new (backend-new)
        if: github.ref == 'refs/heads/backend-new'
        uses: Azure/functions-action@v1
        with:
          app-name: 'iness-backend-new'
          slot-name: 'Production'
          package: ${{ env.AZURE_FUNCTIONAPP_PACKAGE_PATH }}
